<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='lab1/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Котики мира</title>
    <style>
            .cat-image {
            width: 100%;
            height: 600px;      
            object-fit: cover;     
            object-position: center; 
            border-radius: 8px;
            margin-bottom: 10px;
        }
             .cat-name {
            font-size: 1.3em;
            font-weight: bold;
            color: #ffb1f2;
            margin: 0 0 10px 0;
        }
    </style>
</head>
<body>
    <h1>Котики мира — 20 пород</h1>

    <div class="cat-grid">
        {% for cat in cats %}
        <div class="cat-card">
            <div class="cat-name">{{ cat.name }}</div>
            <div class="cat-desc">{{ cat.description }}</div>
            <img class="cat-image" src="{{ url_for('static', filename='lab2/cats/' + cat.image) }}" alt="{{ cat.name }}">
        </div>
        {% endfor %}
    </div>

    <br>
    <a href="/lab2/">← Назад в лабораторную 2</a>
</body>
</html>