<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
     <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Список книг</title>
</head>
<body>
    <h1>Список книг</h1>

    {% for book in books %}
    <div class="book">
        <h2>{{ book.title }}</h2>
        <div class="info">
            <div><strong>Автор:</strong> {{ book.author }}</div>
            <div><strong>Жанр:</strong> {{ book.genre }}</div>
            <div><strong>Количество страниц:</strong> {{ book.pages }}</div>
        </div>
    </div>
    {% endfor %}

    <br>
    <a href="/lab2/">Назад в лабораторную 2</a>
</body>
</html>