{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %} 

{% block main %}
<h1>Шаблоны</h1>
<div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
<ol>
    <li>
        <a href="/lab2/example">example</a>
    </li>
</ol>
{% endblock %} 

<h2>Работа с цветами</h2>
<ul>
    <li>Добавить цветок: <code>/lab2/add_flower/<имя></code></li>
    <li>Посмотреть цветок по ID: <code>/lab2/flowers/<id></code></li>
    <li><a href="/lab2/clear_flowers">Очистить список цветов</a></li>
</ul>
{% endblock %}