{% extends "base.html" %}
{% block lab %}Третья лабораторная работа{% endblock %}
{% block main %}
    <h1>Формы, cookie</h1>
    <div>
        <p>Привет, <span style="color: {{ name_color }};"> {{ name }}</span>! Вам {{ age }} лет.</p>
    </div>
    <div>Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab3/cookie">Куки</a></li>
        <li><a href="/lab3/form1">Поле ввода</a></li>
        <li><a href="/lab3/order">Заказ напитка</a></li>
        <li><a href="/lab3/settings">Настройки текста</a></li>
        <li><a href="/lab3/ticket">Железнодорожный билет</a></li>
    </ol>
{% endblock %}