{% extends "base.html" %}
{% block lab %}Редактировать статью{% endblock %}
{% block main %}
    <h1>Редактировать статью</h1>
    {% if error %}
        <div style="color: red;">{{ error }}</div>
    {% endif %}
    <form method="post">
        <div>
            <label>Заголовок:<br>
                <input type="text" name="title" value="{{ article.title }}" required>
            </label>
        </div><br>
        <div>
            <label>Текст:<br>
                <textarea name="article_text" rows="10" required>{{ article.article_text }}</textarea>
            </label>
        </div><br>
        <button type="submit">Сохранить</button>
    </form>
    <p><a href="/lab8/articles/">Назад к статьям</a></p>
{% endblock %}